<div class="row ">
        <label class="control-label col-sm-2">Select Property</label>
        <div class="col-sm-2 field-value">
          <select class="form-control" (change)="onPropertySelected($event)">
            <option *ngFor="let opt of propertyString" [selected]="selectedProperty == opt">
              {{opt}}
            </option>
          </select>
        </div>
            <label class="control-label col-sm-2">{{dropDownLable}}</label>
            <div class="col-sm-2 field-value">
                <select class="form-control" (change)="onSecondDropdownSelected($event)">
                    <option *ngFor="let opt of secondDropdownString" [selected]="selectedValue == opt">
                        {{opt}}
                    </option>
                </select>
            </div>
      </div>

<mat-grid-list cols="2" gutterSize="10px" rowHeight="3:2.5">
    <mat-grid-tile>
        <mat-grid-tile-header>
            {{barChartHeader}}
        </mat-grid-tile-header>
        <canvas mdbChart
                [chartType]="chartTypeBar"
                [datasets]="chartDatasetsBar"
                [labels]="chartLabelsBar"
                [colors]="chartColorsBar"
                [options]="chartOptionsBar"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-grid-tile-header>
            {{pieChartHeader}}
        </mat-grid-tile-header>
        <canvas mdbChart
                [chartType]="chartTypePie"
                [datasets]="chartDatasetsPie"
                [labels]="chartLabelsPie"
                [colors]="chartColorsPie"
                [options]="chartOptionsPie"
                [legend]="true"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
    </mat-grid-tile>
    <!--<mat-grid-tile>-->
        <!--<mat-grid-tile-header>-->
            <!--Comparison with Last year-->
        <!--</mat-grid-tile-header>-->
        <!--<canvas mdbChart-->
                <!--[chartType]="chartTypeLine"-->
                <!--[datasets]="chartDatasetsLine"-->
                <!--[labels]="chartLabelsLine"-->
                <!--[colors]="chartColorsLine"-->
                <!--[options]="chartOptionsLine"-->
                <!--[legend]="true"-->
                <!--(chartHover)="chartHovered($event)"-->
                <!--(chartClick)="chartClicked($event)">-->
        <!--</canvas>-->
    <!--</mat-grid-tile>-->
    <!--<mat-grid-tile>4</mat-grid-tile>-->
</mat-grid-list>