:host {
  display: block;
  margin-top: 20px;
}

.content-div {
  background-color: #ffffff;
}

.form-header {
  color: #E19131;
}

.billInputContainer {
  min-height: 100px;
  padding: 10px;
  background-color: white;
  border: solid 1px whitesmoke;
}

.error {
  font-size: 0.9em;
  color: #f96565;
}

.control-label span { color: #dd0d0d;}

.btnContainer{
  margin-top:5%;
  padding-left: 150px;
}

.control-label {
  text-align: right;
  font-weight: bold;
  padding-top: 9px;
}