<div class="animated fadeInUp" xmlns="http://www.w3.org/1999/html">

    <div class="form-container billInputContainer">

        <form class="form-horizontal" #electricityBillForm="ngForm" novalidate
              (ngSubmit)="approve()" autocomplete="off">
            <div class="form-group row">
                <label class="control-label col-sm-2">Date:</label>
                <div class="col-sm-6">
                    <p class="form-control">{{bill.datetime}}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Number:</label>
                <div class="col-sm-6"><p class="form-control">{{bill.billId}}</p></div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Period:</label>
                <div class="col-sm-6"><p class="form-control">{{bill.period}}</p></div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Amount:</label>
                <div class="col-sm-6"><p class="form-control">{{bill.amount}}</p></div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Location:</label>
                <div class="col-sm-6"><p class="form-control">{{bill.location}}</p></div>
            </div>

            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-2 btnContainer">
                    <button type="submit" class="btn btn-primary animated fadeIn">Certify</button>
                    &nbsp;
                    <a class="btn btn-warning" (click)="reject()">Reject</a>
                </div>
            </div>

        </form>

    </div>
</div>