<div class="animated fadeInUp" style="animation-delay: 0.1s">
  <div class="row">
    <div class="col-sm-12">
      <div class="container-fluid InputContainer">
        <div class="title">
          Home Page

          <br>
        </div>
    <div class="col-md-6">
<div class="title">Electricity Bill</div>
          <div id="chartdiv"></div>
</div>

<div class="col-md-6">
<div class="title">Internet Bill</div>
          <div id="chartdiv"></div>
</div>

<div class="col-md-6">
<div class="title">Telephone Bill</div>
          <div id="chartdiv"></div>
</div>

<div class="col-md-6">
<div class="title">Water Bill</div>
          <div id="chartdiv"></div>
</div>
      </div>
    </div>
  </div>
</div>