<div class="animated fadeInUp">

  <div class="col-sm-12">
    <!--Form Container - START-->
    <div class="form-container billInputContainer">
      <div class="tbl-header">
        View Charts
      </div>

      <div class="row ">
        <label class="control-label col-sm-2">Select Bill Type <span>*</span></label>
        <div class="col-sm-2 field-value">
          <select class="form-control" (change)="onTypeSelected($event)">
            <option *ngFor="let opt of typeString" [selected]="selectedType == opt">
              {{opt}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="isElectricity">
      <app-charts-electricity-bill></app-charts-electricity-bill>
    </div>
    <div *ngIf="isInternet">
      <app-charts-internet-bill></app-charts-internet-bill>
    </div>
    <div *ngIf="isTelephone">
      <app-charts-telephone-bill></app-charts-telephone-bill>
    </div>
    <div *ngIf="isWater">
      <app-charts-water-bill></app-charts-water-bill>
    </div>
  </div>

  <!--<button (click)="showit()">show</button>-->
</div>
