:host {
  display: block;
  margin-top: 20px;
}

.content-div {
  background-color: #ffffff;
}

.form-header {
  margin-top: 50px;
  font-weight: 600;
  font-size: 1.3em;
  padding: 5px 0px 30px;
  color: #E19131;
  text-transform: uppercase;
}

.billViewContainer {
  min-height: 100px;
  padding: 10px;
  background-color: white;
  border: solid 1px whitesmoke;
}

.control-label span { color: #dd0d0d;}

.control-label {
  text-align: right;
  font-weight: bold;
  padding-top: 9px;
}